<app-loading *ngIf="loading"></app-loading>
<div class="row animated fadeIn" *ngIf="!loading">
    <div class="col-2">
        <img [src]="artist.images | noimage" class="img-thumbnail img-circle">
    </div>
    <div class="col">
        <h3>{{ artist.name }}</h3>
        <p>
            <a [href]="artist.external_urls.spotify" target="_blank">Go to artist's page</a>
        </p>
    </div>
    <div class="col-4  text-right">
        <button routerLink="/search" type="button" class="btn btn-outline-danger">Return</button>
    </div>
</div>

<div class="row">
    <div class=" col ">
        <table class="table ">
            <thead class="thead-light ">
                <tr>
                    <th>FOTO</th>
                    <th>ALBUM</th>
                    <th>SONG</th>
                    <th>VIEW</th>
                </tr>
            </thead>
            <Tbody>
                <tr *ngFor="let track of topTracks">
                    <td>
                        <img [src]="track.album.images | noimage " class="img-thumb">
                    </td>
                    <td class="text-success ">{{track.album.name}}</td>
                    <td class="text-success ">{{track.name}}</td>
                    <td>
                        <audio [src]="track.preview_url" controls></audio>
                        <!-- <iframe style="border-radius:12px" [src]="track.uri | domseguro:'https://open.spotify.com/embed/track/{{track.id}}?utm_source=generator' " width=" 100% " height="80 " frameBorder="0 " allowfullscreen=" " allow="autoplay; clipboard-write; encrypted-media; fullscreen; picture-in-picture "></iframe> -->
                        <!-- <iframe style="border-radius:12px" [src]="https://open.spotify.com/embed/track/'track.id|domseguro'?utm_source=generator" width="100% " height="380 " frameBorder="0 " allowfullscreen=" " allow="autoplay; clipboard-write; encrypted-media; fullscreen;
                            picture-in-picture "></iframe> -->
                    </td>
                </tr>
            </Tbody>

        </table>
    </div>
</div>