<div class="row">
    <div class="col">
        <input #termino type="text" (keyup)="buscar(termino.value)" class="form-control" placeholder="Search Artist">
    </div>
</div>

<app-loading *ngIf="loading"></app-loading>

<app-cards *ngIf="!loading" [items]="artists"></app-cards>

<!-- <div class=" card-columns m-5 ">

    <div *ngFor="let artist of artists " class="card ">
        <img src="{{artist.images | noimage}} " class="card-img-top " alt="... ">
        <div class="card-body ">
            <h5 class="card-title ">{{artist.name}}</h5>
            <p class="card-text ">
                <span *ngFor="let artist of artist.artists " class="badge badge-primary ">{{artist.name}}</span>
            </p>
        </div>
    </div>

</div> -->